* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 104px;

}
.logo {
    cursor:pointer;
    margin-top: 25px;
   
}
.icon {
    margin-top: 29px;
    cursor: pointer;
}

.nav-menu {

    display: none;
/* Setting this like this will make it dissappear but we can later change it incase we want (We want it to appear as a desktop site...hence this stufff) */

}
.section-one {
    padding-left: 16px;
    margin-right: 16px;
}

.section-one-heading {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style:normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 24px;
}

.opaque-text {
    color: rgb(99, 99, 99);
}




.bullet {
    list-style: decimal;
}
