* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 104px;

}
.logo {
    cursor:pointer;
    margin-top: 25px;
   
}
.icon {
    margin-top: 29px;
    cursor: pointer;
}

.nav-menu {

    display: none;
/* Setting this like this will make it dissappear but we can later change it incase we want (We want it to appear as a desktop site...hence this stufff) */

}
.section-one {
    padding-left: 16px;
    margin-right: 16px;
}

.section-one-heading {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style:normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 24px;
}

.opaque-text {
    color: rgb(99, 99, 99);
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: normal;

}
.first-image {
    max-width: 100%;
    margin-bottom: 39px;
}
.text-section {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 56px;
}
.text-subheading {
    margin-right: 16px;
    margin-bottom: 56px;
}

.text-subheading {
    color: #060606;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }
/* all p and ul and ol get the font colorrr */
p,ul,ol {
    color: black;
    margin-bottom: 16px;
    line-height: 25px;
    font-weight: 400px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}
ul,ol {
    padding-left: 18px;
}
 blockquote {
    margin-left: 16px;
    margin-right: 16px;
    border-left: 3px solid black;
    padding-left: 10px;
    color: #767676;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 60px;
 }
 hr{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
 }
 h3 {
    color: #060606;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;  
 }

 .image-section {
    margin-left: 16px;
    margin-right: 16px;
 }
 .images-set {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
 }

 .image_para {
    margin-bottom: 39px;
 }
 .image-tile {
    width :288px;
    height: 216px;
    margin-bottom: 38.844px;
    max-width: 100%;
 }
 .last-section {
    margin-left: 16px;
    margin-right: 16px;
 }

 .sections-set-two{
    margin-left: 16px;
    margin-right: 16px;
}
.video-description {
    margin-left: 16px;
    margin-right: 16px;
}
.last-image-one {
    width: 100%;
}
.footer-text {
    text-align: center;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copyright {
    display: flex;
  justify-content: center;
}

.font-one {
    color: #767676;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
  .font-two {
    color: #060606;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.icons {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}


.bullet {
    list-style: decimal;
}
