* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 104px;

}
.logo {
    cursor:pointer;
    margin-top: 25px;
   
}
.icon {
    margin-top: 29px;
    cursor: pointer;
}

.nav-menu {

    display: none;
/* Setting this like this will make it dissappear but we can later change it incase we want (We want it to appear as a desktop site...hence this stufff) */

}
.section-one {
    padding-left: 16px;
    margin-right: 16px;
}

.section-one-heading {
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style:normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 24px;
}

.opaque-text {
    color: rgb(99, 99, 99);
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: normal;

}
.first-image {
    max-width: 100%;
    margin-bottom: 39px;
}
.text-section {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 56px;
}
.text-subheading {
    margin-right: 16px;
    margin-bottom: 56px;
}

.text-subheading {
    color: #060606;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
  }
/* all p and ul and ol get the font colorrr */
p,ul,ol {
    color: black;
    margin-bottom: 16px;
    line-height: 25px;
    font-weight: 400px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}
ul,ol {
    padding-left: 18px;
}
 blockquote {
    margin-left: 16px;
    margin-right: 16px;
    border-left: 3px solid black;
    padding-left: 10px;
    color: #767676;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 60px;
 }
 hr{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
 }
 h3 {
    color: #060606;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;  
 }

 .image-section {
    margin-left: 16px;
    margin-right: 16px;
 }
 .images-set {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
 }

 .image_para {
    margin-bottom: 39px;
 }
 .image-tile {
    width :288px;
    height: 216px;
    margin-bottom: 38.844px;
    max-width: 100%;
 }
 .last-section {
    margin-left: 16px;
    margin-right: 16px;
 }

 .sections-set-two{
    margin-left: 16px;
    margin-right: 16px;
}
.video-description {
    margin-left: 16px;
    margin-right: 16px;
}
.last-image-one {
    width: 100%;
    height: 500px;
  }
.footer-text {
    text-align: center;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copyright {
    display: flex;
  justify-content: center;
}

.font-one {
    color: #767676;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
  .font-two {
    color: #060606;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.icons {
    width: 156px;
    height: 19px;
    margin-top: 24px;
    margin-left: 80px;
    margin-right: 84px;
    margin-bottom: 46px;
}
.icon-class {
    display: flex;
    justify-content: center;
}

/* HERE COMES MEDIAQUERY */


@media only screen and (min-width: 768px) {
    header {
        margin: 64px 100px 124px 101px ;
        
    }
    .logo {
        margin: 0px;
    }
    .nav-menu  {
        display:flex;
        gap: 64px;
    }
    .icon {
        display:none;
    }
    .logo {
        width: 112px;
        height: 27px;
    }

    .sections-set-one {
        max-width: 1024px;
        margin: 0 auto;
    }
    .first-image {
        width: 100%;
        height: 500px;
    }
    .sections-set-two {
        max-width: 1200px;
        margin: 0 auto;
      }
    .last-image-one {
        width: 100%;
        height: 500px;
      }
    .video-description{
        padding-left: 16px;
        padding-right: 16px;
      }
    .image-tile {
        width: 380px;
        height: 400px;
        gap: 50px;
      }
    .nav-menu a {
        color: black;
        text-decoration: wavy;
        transition-duration: 0.1s;
    }
    .nav-menu a:hover {
        color: blue;
        padding-top: 2px;

    }

    

}


.bullet {
    list-style: decimal;
}
